/*	
	GhostFrame
	Simple Boilerplate for CSS Designs 
	Developed by Juliano F.
	http://github.com/jflores82/ghostcss
*/
/* GRIDS */
/* Portrait Size Grid - Works well for both desktop and mobile - max size: 960 pixels */
.gridP {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: auto; }

/* Landscape Size Grid - Works better for desktop and tablets - max size: 1280 pixels */
.gridL {
  position: relative;
  width: 100%;
  max-width: 1280px; }

/* Full-Screen Width Grid - It will fit in the whole screen */
.gridF {
  position: relative;
  width: 100%;
  max-width: 100%; }

/* New Row - Each Row needs to be its own div */
.r::after {
  clear: both;
  display: table;
  content: ""; }

/* Columns Properties */
.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12,
.c13,
.c14,
.c15,
.c16,
.c17,
.c18,
.c19,
.c20 {
  float: left;
  width: 100%; }

/* Aligment Clases */
/* Text/in-column aligment */
.t-c {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

/* padding left */
.pl-05 {
  padding-left: 5%; }

.pl-10 {
  padding-left: 10%; }

.pl-15 {
  padding-left: 15%; }

.pl-20 {
  padding-left: 20%; }

/* padding-right */
.pr-05 {
  padding-right: 5%; }

.pr-10 {
  padding-right: 10%; }

.pr-15 {
  padding-right: 15%; }

.pr-20 {
  padding-right: 20%; }

/* padding-top */
.pt-05 {
  padding-top: 5%; }

.pt-10 {
  padding-top: 10%; }

.pt-15 {
  padding-top: 15%; }

.pt-20 {
  padding-top: 20%; }

/* padding-bottom */
.pb-05 {
  padding-bottom: 5%; }

.pb-10 {
  padding-bottom: 10%; }

.pb-15 {
  padding-bottom: 15%; }

.pb-20 {
  padding-bottom: 20%; }

@media (min-width: 550px) {
  .c1 {
    width: 50%; }

  .c2 {
    width: 50%; }

  .c3 {
    width: 50%; }

  .c4 {
    width: 50%; }

  .c5 {
    width: 50%; }

  .c6 {
    width: 50%; }

  .c7 {
    width: 50%; }

  .c8 {
    width: 50%; }

  .c9 {
    width: 50%; }

  .c10 {
    width: 50%; }

  .c11 {
    width: 50%; }

  .c12 {
    width: 50%; }

  .c13 {
    width: 50%; }

  .c14 {
    width: 50%; }

  .c15 {
    width: 50%; }

  .c16 {
    width: 50%; }

  .c17 {
    width: 50%; }

  .c18 {
    width: 50%; }

  .c19 {
    width: 50%; }

  .c20 {
    width: 100%; } }
@media (min-width: 960px) {
  .c1 {
    width: 5%; }

  .c2 {
    width: 10%; }

  .c3 {
    width: 15%; }

  .c4 {
    width: 20%; }

  .c5 {
    width: 25%; }

  .c6 {
    width: 30%; }

  .c7 {
    width: 35%; }

  .c8 {
    width: 40%; }

  .c9 {
    width: 45%; }

  .c10 {
    width: 50%; }

  .c11 {
    width: 55%; }

  .c12 {
    width: 60%; }

  .c13 {
    width: 65%; }

  .c14 {
    width: 70%; }

  .c15 {
    width: 75%; }

  .c16 {
    width: 80%; }

  .c17 {
    width: 85%; }

  .c18 {
    width: 90%; }

  .c19 {
    width: 95%; }

  .c20 {
    width: 100%; } }

/*# sourceMappingURL=ghostframe.css.map */
